body {
    margin: 0px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: $off-white;
    font-family: 'Cabin', sans-serif;
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
}

* {
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

.app-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}

