.search-for-client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60vw;

    .text-wrapper {
        width: 70vw;
    }
}
.home-wrapper {
    
    p {
        font-size: 1.2rem;
    }
    .search-for-client {
        .text-wrapper {
            .add-clients-image {
                
                img {
                    border: 3px solid $blue;
                    border-radius: 5px;
                    height: 600px;
                    width: 600px;
                }
            }
        }
    }
    
    
    .salesman-image {
        img {
            border: 3px solid $blue;
            border-radius: 5px;
            height: 400px;
            height: 300px;
        }
    }

    .my-clients-image {
        img {
            border: 3px solid $blue;
            border-radius: 5px;
            width: 750px;
            height: 600px;
        }
    }
    
}
