.body {
    .login-wrapper {
        button {
            height: 60px;
            width: 130px;
            font-size: 1.4rem;
            border-radius: 10px;
            cursor: pointer;
            background-color: $blue;
            margin-top: 20px;
            text-align: center;
            font-weight: bold;
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
            border: 2px solid black;

            &:hover {
                background-color: $dark-blue;
                transition: ease-in-out .5s;
            }

            &:focus {
                outline: none;
            }
        
            &:active {
                box-shadow: 3px 3px 5px 0px rgba(0,0,0,.75);
                transform: translate(2px, 2px);
            }
        }
        
    }
}

.input-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
    

input {
    height: 30px;
    width: 30vw;
    border-radius: 10px;
    margin-top: 10px;
    
    &:focus {
        outline: none;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-wrapper {
    margin-top: 20px;
    :hover {
        transition: ease-in-out .5s;
        color: $blue;
    }
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}