body {
    margin: 0px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: $off-white;
    font-family: 'Cabin', sans-serif;
    

    .navbar-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
        width: 100vw;
        color: white;
        background-color: $blue;

        .nav-side {
            display: flex;
            width: 180px;
            height: 100%;
            align-items: center;
            justify-content: center;
            
        }

        .nav-link-wrapper {
            display: flex;
            width: 20vw;
            height: 100%;
            align-items: center;
            color: white;
            justify-content: space-around;
            text-decoration: none;

            .nav-link {
                display: flex;
                color: white;
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: center;
                text-decoration: transparent;

                
            }

            :hover {
                background-color: $off-white;
                color: black;
                transition: ease-in .5s;
                transition: ease-out .5s;
                text-decoration: underline;
            }
        }
        
        button {
            
            width: 100px;
            height: 45px;
            font-size: large;
            cursor: pointer;
            background-color: $off-white;
            border-radius: 10px;
            margin-bottom: 15px;
            
        }
      
        }

        
    
    }
