body {
    margin: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .navbar-wrapper {
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: 100vw;
        background-color: pink;
        font-family: 'Lato', sans-serif;
    }

    

    .nav-link {
        display: flex;
        width: 150px;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: rgb(0, 0, 168);
        text-decoration: none;
        :hover {
            background-color: navy;
        }
        
    }

    .navbar-top-left {
        display: flex;
        width: 100%;
    }

    .navbar-top-right {
        display: flex;
    }
}